@media (max-width: 1200px) {
    .servicesTitle {
        font-size: 40px;
    }

    .contactTitle {
        font-size: 35px;
    }

    .contactRight{
    }

    .contactForm input {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .app-content {
        padding: 60px 30px 0;
    }
    .app-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .app-buttons {
        margin: auto;
    }

    .phone {
        position: inherit;
        right: 20%;
        bottom: 0;
        width: 64%;
        margin-top: 40px;
    }

}

@media (max-width: 1030px) {
    .header-logo-redmax {
        width: 100px;
    }

    .nav-link {
        font-size: 14px;
    }

    .nav-button {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 32px;
    }

    .app-row{
        display: block;
    }
}

@media (max-width: 958px) {
    .footer {
        padding: 30px 0;
    }

    .footer-row {
        display: block;
        text-align: center;
        margin: auto;
    }

    .first-footer, .second-footer, .third-footer {
        margin-right: 20px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .footer-phone {
        margin-top: 45px;
    }

    .footer-license{
        display: none;
    }

    .footer-license2{
        margin-top: 30px;
        display: block;
    }

    .contact {
        margin-top: 80px;
    }

    .contactContent {
        display: block;
    }
    .contactTitle {
        font-size: 45px;
    }

    .contactLeft {
        margin: 0 0 40px;
    }

    .contactForm input {
        width: 100%;
    }

    .contactButton{
        width: 100%;
    }

}

@media (max-width: 840px) {

    .nav-link {
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .nav-button {
        font-size: 13px;
        line-height: 14px;
        padding: 10px 16px;
    }

    .mainBlockBrokers{
        margin-top: 20vh;
    }

    .brokers-main-title {
        font-size: 35px;
    }

    .redmax{
        width: 172px;
    }


}

@media (max-width: 685px) {

    .mainBlock {
        margin-top: 14vh;
    }

    .header-logo-redmax {
        width: 150px;
    }

    .nav-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s;
        text-align: center;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
        color: white;
    }

    .menu-close {
        opacity: 0;
        position: fixed;
        right: 7%;
        top: 3.5%;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: white;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.4s;
    }

    .is-active {
        transform: translateX(0%);
        opacity: 1;
    }

    .nav-list{
        display: block;
    }

    .nav-link {
        font-size: 27px;
        margin-bottom: 33px;
    }

    .header-social{
        display: flex;
        margin-bottom: 70px;
    }

    .header-social img{
        width: 70px;
    }

    .nav-button {
        font-size: 27px;
        padding: 26px 98px;
    }

}


@media (max-width: 576px) {
    .mainBlock {
        margin-top: 8vh;
    }

    .sitemap{
        background: url("../images/backgrounds/sitemapBg.png") no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 100%;
    }

    .lastsiteMap{
        padding-bottom: 20px;
    }

    .contactTitles {
        font-size: 25px;
    }

    .second-footer input{
        width: 300px;
    }

    .mainBlockBrokers{
        margin-top: 10vh;
        display: block !important;
        text-align: center;
        padding: 0 60px;
    }

    .brokers-main-title div{
        justify-content: center;
    }

    .brokers-main-title {
        font-size: 35px;
    }

    .redmax{
        width: 172px;
    }


}
