@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gooch4');
  src:  url('fonts/icomoon.eot?gooch4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gooch4') format('truetype'),
    url('fonts/icomoon.woff?gooch4') format('woff'),
    url('fonts/icomoon.svg?gooch4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circular-outlined-button:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-from:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-minus-circular-button:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-to:before {
  content: "\e908";
}
.icon-type:before {
  content: "\e909";
}
.icon-weight:before {
  content: "\e90a";
}
