body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFB;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 90%;
}

button {
    outline: none;
}

button:focus {
    outline: none !important;
}

button:focus {
    box-shadow: none;
}

/*------HEADER---------*/

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.menu-button, .menu-close {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-logo-redmax img {
    width: 100%;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #FF0000;
    transition: color 0.5s ease;
}

.nav-list {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.active-link {
    color: #FF0000;
}

.header-social {
    display: none;
}

.nav-button {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 16px 58px;
    background-color: transparent;
    border: 1px solid #FF0000;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    text-decoration: none;
    color: white;
    background: #FF0000;
    transition: 0.5s all;
}


#timer-block {
    font-size: 15px;
    line-height: 18px;

    color: #555555;
}

/*--------MAIN---------*/


.main {
    height: 100vh;
    background: url("../images/backgrounds/mainBg.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.mainLeft {
    width: 40%;
}

.mainButtons {
    display: flex;
}


.LogoElement {
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100vh;
    left: -7%;
}


.mainBlock {
    margin-top: 30vh;
}

.leftMain {
    opacity: 0;
}

.mainText {
    margin-left: 6%;
    margin-right: 156px;
    max-width: 600px;
}

.mainDescription {
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
    max-width: 400px;
    margin-bottom: 40px;
}

.mainButtonLearnMore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 5px;
    padding: 15px 48px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    max-width: 185px;
}

.mainButtonLearnMore:hover {
    background: #F46060;
    transition: background 0.5s ease;
}

.mainButtonLearnMore:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.mainButtonContactUs {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    background: transparent;
    border-radius: 5px;
    padding: 15px 48px;
    border: 1px solid #FF0000;
    cursor: pointer;
    max-width: 185px;
}

.mainButtonContactUs:hover {
    text-decoration: none;
    color: white;
    background: #FF0000;
    transition: 0.5s all;
}


/*-----------ABOUT-------------*/

.about {
    margin-top: 6%;
}

.aboutTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 10px;
}

.blockLine {
    display: flex;
    position: absolute !important;
    left: 0;
    width: 89%;
    margin-top: 22px;
    align-items: center;
}

.line {
    height: 2px;
    width: 100%;
    background: #000000;
}

.lineArrow {
    position: absolute;
    right: -7px;
}

.aboutContent {
    display: flex;
    margin-top: 70px;
}

.about-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.aboutDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
    max-width: 480px;
}

.aboutLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LogoGray {
    width: 50%;
}

.aboutImage {
    width: 48%;
}

.rowBlock, .rowBlock2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    width: 48%;
    background-color: #EAE8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutBlockTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.aboutBlockText {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #555555;
    padding: 0 40px;
}

.carousel {
    display: none;
    margin-top: 40px;
}

.slide {
    max-height: 250px;
}

.box-slide {
    width: 100%;
    background-color: #EAE8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}

.aboutImageSlide {
    width: 100%;
    height: 250px;
}

/*-----------WHY--------------*/

.why {
    margin-top: 150px;
}

.whyTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 20px;
}

.why-arrow {
    transform: rotate(180deg);
}

.blockLineReverse {
    display: flex;
    right: 0;
    margin-top: 22px;
    align-items: center;
    position: relative;

}

.lineReverse {
    height: 2px;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

.blockLineReverseRight {
    display: flex;
    right: 0;
    margin-top: -2px;
    align-items: center;
    width: 50%;
    position: absolute;
    overflow: hidden;
}

.lineReverseRight {
    height: 2px;
    width: 100%;
    background: #000000;
}

.lineArrowReverse {
    position: absolute;
    left: -7px;
}

.whyContent {
    margin-top: 90px;
}

.why-item {
    display: flex;
    align-items: start;
}

.whyText {
    margin-left: 30px;
    max-width: 440px;
}

.why-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.why-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
}

.why-icon {
    height: 45px;
    width: 45px;
}

/*-----------STAT-----------*/

.stat {
    margin-top: 150px;
    background: url("../images/backgrounds/statBg.webp") no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    padding-top: 150px;
    padding-bottom: 180px;
}


.stat-number {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.stat-title {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.LogoStat {
    position: absolute;
    top: 0;
    right: 3%;
}


/*----------CONTACT-------------*/

.contact {
    margin-top: 150px;
}

.contactContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.contactLeft {
    margin-right: 20px;
}

.contactLeftModal {
    max-width: 387px;
}


.contactText {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
}

.contactForm {
    margin-top: 40px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #757575;
}

.contactLeftModal input {
    max-width: 387px;
    width: 99%;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #999;
}

.contactButton {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 5px;
    padding: 15px 48px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.contactButton:hover {
    background: #F46060;
    transition: background 0.5s ease;
}

.contactButtonModal {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 5px;
    padding: 15px 48px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    width: 100%;
}

.contactButtonModal:hover {
    background: #F46060;
    transition: background 0.5s ease;
}

.contactRight img {
    width: 100%;
}


/*---------FOOTER-----------*/

.footer {
    position: relative;
    margin-top: 160px;
    background: #EAE8E8;
    padding: 70px 0;
}

.contactLine {
    top: 0;
    margin-top: 0;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-license, .footer-license2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #555555;
    margin: 0;
    max-width: 243px;
}

.footer-license2, .powered2 {
    display: none;
}

.footer-title {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
    max-width: 400px;
}

.second-footer .group {
    margin-top: 35px;
    margin-bottom: 0;
}

#submitBtn {
    border: none;
}

.sendBtn {
    position: absolute;
    top: 25%;
    right: 0;
}

.footer-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.footer-address {
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
}

.footer-social {
    display: flex;
}

.first-footer, .second-footer, .third-footer {
    margin-right: 20px;
    min-height: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.powered {
    margin: 0;
    color: grey;
}

.altek {
    margin-left: 10px;
}

.fb {
    background-image: url("../images/svg/fb.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}

.fb:hover {
    background: url("../images/svg/fbHover.svg");
    transition: background 0.9s ease;
}

.insta {
    background-image: url("../images/svg/inst.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}

.insta:hover {
    background: url("../images/svg/instHover.svg");
    transition: background 0.9s ease;
}


/*----------BROKERS--------*/

.brokers {
    background: url("../images/backgrounds/brokerBg.webp") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mainBlockBrokers {
    margin-top: 25vh;
}

.brokers-main-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000000;
}

/*------------SERVICES----------*/

.services {
    margin-top: 6%;
}

.servicesTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 10px;
}

.servicesContent {
    margin-top: 70px;
}

.services-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.services-image {
    margin-right: 10%;
}

.service-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services-title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}


.services-description {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
}

.service-btn {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    background: transparent;
    border-radius: 5px;
    padding: 15px 48px;
    border: 1px solid #FF0000;
    cursor: pointer;
    width: 190px;
}


/*-------------SHIPPERS----------*/

.shippers {
    height: 100vh;
    background: url("../images/backgrounds/shippersBg.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.redmax {
    margin-right: 10px;
}


.contactText-shippers {
    max-width: 400px;
}

/*-----------ADVANTAGES--------------*/

.advantages {
    margin-top: 150px;
}

.advantagesTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 20px;
}

.advantages-arrow {
    transform: rotate(180deg);
}

.advantagesContent {
    margin-top: 90px;
}

.advantages-item {
    display: flex;
    align-items: start;
}

.advantagesText {
    margin-left: 30px;
    max-width: 440px;
}

.advantages-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.advantages-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
}

/*----------CARRIERS------------*/

.carriers {
    height: 100vh;
    background: url("../images/backgrounds/carriersBg.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.carriersDescription {
    margin-top: 2%;
    margin-bottom: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
    max-width: 600px;
}


/*-------------APP-------------*/

.app {
    margin-top: 150px;
    background: #EAE8E8;
    position: relative;
    border-radius: 10px;
}

.app-content {
    padding: 80px 100px 80px;
}

.app-row {
    display: flex;
}

.app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 56px;
    color: #000000;
}

.app-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #555555;
    margin-top: 20px;
}

.app-buttons {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    margin-top: 40px;
}

.phone {
    position: absolute;
    right: 20%;
    bottom: 0;
}


/*----------CONTACT PAGE---------*/

.contactPage {
    margin-top: 90px;
}

/*------------SITEMAP-----------*/

.sitemap {
    background: url("../images/backgrounds/sitemapBg.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.sitemap-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.sitemapItem {
    margin: 10px 0;
}

.sitemap-main-text {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.sitemap-main-text:hover {
    text-decoration: none;
    color: #FF0000;
}

.sitemap-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #555555;
}

.sitemap-text:hover {
    text-decoration: none;
    color: #FF0000;
}


/* Popup */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 60px 50px 70px;
    max-width: 490px;
    margin: 0 auto;
    width: 75%;
    z-index: 100;
}

.white-popup__middle {
    max-width: 710px;
}

.white-popup__small {
    max-width: 380px;
}

.white-popup__ticket {
    max-width: 445px;
}

.white-popup__long {
    max-width: 840px;
}

.white-popup__pay {
    max-width: 765px;
}

.mfp-content {
    overflow-y: auto;
    max-height: 100%;
    padding: 20px 0;
}

.mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}

.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-close,
.mfp-close:active {
    font-size: 32px;
    right: 10px;
    top: 10px;
}

.mfp-close-btn-in .mfp-close {
    right: -44px;
    color: #fcfcfc;
    position: absolute;
    background: black;
    top: 0px;
    z-index: 9999;
}

.popup-main {
    position: relative;
}

.popup-main {
    position: relative;
}

.popup-main .loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.popup-main .loader .loader-image img {
    width: 64px;
}

.popup-main .loader.active {
    display: flex;
}

.popup-main .loader .loader-title {
    position: absolute;
    bottom: calc(50% - 75px);
    transform: translateY(50%);
    font-size: 17px;
    color: #007bff;
}

.popup-title {
    margin-bottom: 15px;
}

.popup-title h2 {
    font-size: 21px;
    line-height: 27px;
    margin: 0;
    font-weight: 500;
    color: #3A3B3E;
}

.popup-content {

}

.popup-content p {
    font-size: 17px;
    margin-bottom: 15px;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px;
}

.popup-footer .btn-close {
    background-color: #F3F3F3;
    color: #3A3B3E;
    outline: none;
    box-shadow: none;
}

.popup-footer .btn-primary,
.popup-footer .btn-save {
    outline: none;
    box-shadow: none;
}

.popup-footer .btn-delete {
    background-color: #FD4745;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}

.white-popup.white-popup__messages {
    padding: 0;
}

.white-popup.white-popup__messages .popup-title {
    height: 50px;
    background-color: #2E5E80;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 0;
}

.white-popup.white-popup__messages .popup-title h2 {
    font-weight: 400;
    color: #FFFFFF;
}

.mfp-close-btn-in .white-popup.white-popup__messages .mfp-close {
    color: #ffffff;
    top: 3px;
}


/*-------------SIGN UP MODAL--------*/

.sign-modal {
    max-width: 560px;
}

.sign2-modal {
    max-width: 715px;
}

.contactSingUpModal {
    max-width: 437px;
}

.form-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.form-item .form-control {
    width: 100%;
    font-size: 15px;
    height: 65px;
    border: 1px solid #d9d9d9;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-item .form-control-input {
    padding: 0 45px;
}

.form-item i.icons {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    left: 22px;
    color: #7e7e7e;
}


.icon-from:before {
    content: "\e902";
}

.form-item .bootstrap-select > .dropdown-toggle {
    color: #6a7179;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 45px;
    align-items: center;
    background-color: #ffffff !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-item .bootstrap-select .dropdown-toggle .filter-option {
    display: flex;
    align-items: center;
    outline: none !important;
}

.form-group .bootstrap-select > .dropdown-toggle {
    color: #6a7179;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 45px;
    align-items: center;
    background-color: #ffffff !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-group .bootstrap-select .dropdown-toggle .filter-option {
    display: flex;
    align-items: center;
    outline: none !important;
}

.form-group .form-control.start-form__textarea {
    height: 150px;
    background: #FEFEFE;
    border: 1px solid #E2E2E2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}

.form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
    position: inherit;
}

.popup-main .form-control {
    height: 55px;
    background: #FFFFFF;
    border-radius: 5px;
}

.form-group .bootstrap-select.start-form__select .dropdown-toggle {
    height: 55px;
    background: #FEFEFE;
    border: 1px solid #E2E2E2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.form-group .weight-group {
    width: 100%;
    height: auto;
    background: #FEFEFE;
    border: 1px solid #E2E2E2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
}

.dimensions-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.dimensions-item__inputs {
    width: 100%;
}

.dimensions-item__label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    max-width: 45px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
}

.cub-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.cub-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 5px;
}

.cub-input {
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 15px;
    text-align: center;
}

.form-group .quantity-group {
    height: 65px;
    width: 100%;
    background: #FEFEFE;
    border: 1px solid #E2E2E2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 15px;
}

.quantity-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #7E7E7E;
    font-size: 21px;
}

.quantity-input {
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 15px;
    text-align: center;
}

.popup-title {
    text-align: center;
    margin-bottom: 30px;
}

.popup-title h2 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
}

.pac-container {
    z-index: 99999;
}

.popup-main .last-group span#totalPrice p {
    font-size: 17px;
    padding: 0 16px;
    margin-top: 15px;
    text-align: center;
}

.popup-main .last-group span#totalPrice {
    font-size: 17px;
    padding: 0 16px;
    margin-top: 15px;
    text-align: center;
}

.popup-main .last-group {
    text-align: center;
}

.popup-main .last-group span#totalPrice p a {
    white-space: nowrap;
    text-align: center;
}

.popup-main .loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.popup-main .loader .loader-image img {
    width: 64px;
}

.popup-main .loader.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service-btn:hover {
    color: white;
    background: #FF0000;
    transition: 0.5s all;
}
