{% load static %}
{% load contact %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:image:src" content="https://redmaxllc.com/static/images/banner.png">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="REDMAX LOGISTICS">
    <meta name="twitter:title" content="For Less, and with more to offer than ever before!">
    <meta name="twitter:description"
          content="Whether you need to send a single pallet across the state or truckload throughout America">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://redmaxllc.com/"/>
    <meta property="og:site_name" content="REDMAX LOGISTICS"/>
    <meta property="og:title" content="For Less, and with more to offer than ever before!"/>
    <meta property="og:description"
          content="Whether you need to send a single pallet across the state or truckload throughout America"/>
    <meta property="og:image" content="https://redmaxllc.com/static/images/banner.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link rel="icon" href="{% static 'images/logos/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/toastr/toastr.css' %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "js/popup/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}?v=10">
    <link rel="stylesheet" href="{% static "css/response.css" %}?v=10">

    <title>REDMAX - Brokers</title>
</head>
<body>

{% get_last_contact as contact %}
{% get_packaging_list as packaging_list %}

<section class="brokers">
    <header class="header">
        <nav class="container d-flex align-items-center justify-content-between">
            <a href="{% url 'index:index' %}" class="header-logo-redmax">
                <img src="{% static "images/logos/logo.svg" %}" alt="logo">
            </a>
            <button class="menu-button">
                <img src="{% static "images/svg/burger.svg" %}" alt="menu" class="menu-button-icon">
            </button>
            <button class="menu-close">
                <img src="{% static "images/svg/close.svg" %}" alt="back" class="menu-close-icon">
            </button>
            <div class="nav-menu  p-0">
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'brokers:broker' %}" class="active-link nav-link">Brokers</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'shippers:shipper' %}" class="nav-link">Shippers</a></li>
                    <li class="nav-item"><a href="{% url 'carriers:carrier' %}" class="nav-link">Carriers</a></li>
                    <li class="nav-item"><a href="{% url 'contact:contact' %}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="{% url 'sitemap:sitemap' %}" class="nav-link">Sitemap</a></li>
                </ul>
                <div class="header-social">
                    <a href="#">
                        <div class="fb mr-3"></div>
                    </a>
                    <a href="#">
                        <div class="fb mr-3"></div>
                    </a>
                </div>
                <button href="#openModal" class="nav-button openModal" id="callBack" data-effect="mfp-zoom-in">
                    Call back
                </button>
                <p class="mx-2 mb-0" id="timer-block" hidden>We`ll call you <span id="timer" class="text-danger"></span>
                </p>
            </div>
        </nav>
    </header>
    <div class="container d-flex">
        <div class="p-0 mainBlockBrokers">
            <h2 class="brokers-main-title animate__animated animate__fadeInLeft">
                Big Freight <br>
                Shipping Solutions
            </h2>
            <p class="mainDescription animate__animated animate__fadeInLeft">
                For Less, and with more to offer than ever before!
            </p>
            <a href="#signUp" class="btn w-100 mainButtonLearnMore signUp animate__animated animate__fadeInLeft"
               id="signUpModal" data-effect="mfp-zoom-in">
                Sign up
            </a>
        </div>
    </div>
</section>

<section id="section-services" class="services container">
    <div class="d-flex align-items-center">
        <img src="{% static "images/logos/favicon.svg" %}" alt="arrow">
        <h2 class="servicesTitle">Services</h2>
    </div>
    <div class="blockLine">
        <span class="line"></span>
        <img src="{% static "images/svg/lineArrow.svg" %}" alt="lineArrow" class="lineArrow">
    </div>
    <div class="servicesContent">
        <div class="services-row">
            <div class="services-image">
                <img src="{% static "images/img/services1.png" %}" alt="service1">
            </div>
            <div class="service-text">
                <h3 class="services-title">Expedite Delivery</h3>
                <p class="services-description">
                    When you need to ship something urgently, turn to the experts at Expedited Delivery. We offer same
                    day, rush, and critical shipping services that will get your package where it needs to go on time
                    and in good condition.
                </p>
                <a href="/contact/" target="_blank" class="service-btn">Contact us</a>
            </div>
        </div>
        <div class="services-row">
            <div class="services-image">
                <img src="{% static "images/img/services2.png" %}" alt="service1">
            </div>
            <div class="service-text">
                <h3 class="services-title">White Glove Delivery Service</h3>
                <p class="services-description">
                    When it comes to shipping, many consumers prefer the human touch. That's why they choose White Glove
                    Delivery Service - because they want peace of mind and assurance that their shipment is in good
                    hands.
                </p>
                <a href="/contact/" target="_blank" class="service-btn">Contact us</a>
            </div>
        </div>
        <div class="services-row">
            <div class="services-image">
                <img src="{% static "images/img/services3.png" %}" alt="service1">
            </div>
            <div class="service-text">
                <h3 class="services-title">LTL Freight Delivery</h3>
                <p class="services-description">
                    Find the best rates on less-than-truckload freight delivery. Compare quotes from top carriers and
                    save on your next shipment.
                </p>
                <a href="/contact/" target="_blank" class="service-btn">Contact us</a>
            </div>
        </div>
    </div>
</section>

<section id="section-why" class="why container">
    <div class="d-flex">
        <h2 class="whyTitle">Why Choose Us?</h2>
        <img src="{% static "images/logos/favicon.svg" %}" alt="arrow" class="why-arrow">
    </div>
    <div class="blockLineReverse">
        <img src="{% static "images/svg/lineArrow.svg" %}" alt="lineArrow" class="lineArrowReverse">
        <span class="lineReverse"></span>
    </div>
    <div class="blockLineReverseRight">
        <span class="lineReverseRight"></span>
    </div>
    <div class="whyContent wow  animate__animated animate__fadeInUp">
        <div class="row">
            <div class="why-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon5.svg" %}" alt="icon5" class="why-icon">
                <div class="whyText">
                    <h2 class="why-subtitle">Balanced Cost</h2>
                    <p class="why-description">
                        We know that you are faced with a constant challenge
                        to achieve a balance between cost and service.
                        Our experts save you money and maximize efficiency, allowing you to focus on your core business
                    </p>
                </div>
            </div>
            <div class="why-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon2.svg" %}" alt="icon2" class="why-icon">
                <div class="whyText">
                    <h2 class="why-subtitle">Reliable Service</h2>
                    <p class="why-description">
                        Redmax Logistics works to deliver loads of any size, coordinating all the necessary elements of
                        your urgent shipment. When there is a set time-frame, there is no time to waste. Call us and we
                        will give you the best price
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="why-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon6.svg" %}" alt="icon6" class="why-icon">
                <div class="whyText">
                    <h2 class="why-subtitle">Customer Support</h2>
                    <p class="why-description">
                        Customers and drivers need a carrier they can depend on. We provide top-notch service to our
                        customers no matter what time of day. Our 24/7 Dispatch Team is always available to take orders,
                        answer questions, or assist drivers
                    </p>
                </div>
            </div>
            <div class="why-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon7.svg" %}" alt="icon7" class="why-icon">
                <div class="whyText">
                    <h2 class="why-subtitle">Supply Chain Solutions</h2>
                    <p class="why-description">
                        Your supply chain is a complex puzzle. We can help you find the right pieces to complete the big
                        picture. From logistics to warehousing and expedited transportation, our solutions help support
                        your business goals
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="blockLine contactLine wow  animate__animated animate__fadeInLeft">
        <span class="line"></span>
        <img src="{% static "images/svg/lineArrow.svg" %}" alt="lineArrow" class="lineArrow">
    </div>
    <div class="footer-row container">
        <div class="first-footer">
            <img src="{% static "images/logos/logo.svg" %}" alt="logo">
            <p class="footer-license">
                Redmax Logistics, LLC,
                © All rights reserved, Last Modified {% now "Y" %}
            </p>
            <p class="powered">
                Powered by:
                <a target="_blank" href="https://altek.icu/">
                    <img class="altek" src="{% static "images/logos/altek.svg" %}" alt="ALTEK">
                </a>
            </p>
        </div>
        <div class="second-footer">
            <h2 class="footer-title">
                Newsletter
            </h2>
            <p class="footer-text">
                We care about our clients. Therefore, we frequently
                send out news and updates that will help you
            </p>
            <form action="#" class="EmailForm" id="EmailCreateForm">
                <div class="group position-relative">
                    <input type="email" id="email" required autocomplete="off">
                    <label for="email">Enter your e-mail</label>
                    <span class="sendBtn">
                    <button id="submitBtn">
                            <img src="{% static "images/svg/send.svg" %}" alt="send">
                    </button>
                </span>
                </div>
            </form>
        </div>
        <div class="third-footer">
            <div>
                <a href="tel: {{ contact.phone }}" class="footer-phone" data-phone="{{ contact.phone }}">
                    {{ contact.phone }}
                </a>
                <p class="footer-address">
                    {{ contact.address }}
                </p>
            </div>
            <div class="footer-social">
                <a href="{{ contact.facebook_link }}">
                    <div class="fb mr-3"></div>
                </a>
                <a href="{{ contact.instagram_link }}">
                    <div class="insta mr-3"></div>
                </a>
            </div>
            <p class="footer-license2">
                Redmax Logistics, LLC,
                © All rights reserved, Last Modified {% now "Y" %}
            </p>
            <p class="powered2">
                Powered by:
                <a target="_blank" href="https://altek.icu/">
                    <img class="altek" src="{% static "images/logos/altek.svg" %}" alt="ALTEK">
                </a>
            </p>
        </div>
    </div>
</footer>

<div id="openModal" class="white-popup white-popup__settings mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="contactLeftModal">
            <h2 class="contactTitle">Call back</h2>
            <p class="contactText">
                Please let us know the nature of your inquiry
                and we will get back to you shortly
            </p>
            <form action="#" class="CallBackForm" id="CallBackCreateForm">
                <div class="group">
                    <input type="text" id="nameModal" required autocomplete="off">
                    <label for="nameModal">Your name</label>
                </div>
                <div class="group">
                    <input type="text" id="phoneModal" required autocomplete="off">
                    <label for="phoneModal">Phone number</label>
                </div>
                <button class="contactButtonModal" id="submitBtn">
                    Submit
                </button>
            </form>
        </div>

        <div class="contactLeftModalSuccess" hidden>
            <h2 class="contactTitle text-center">Sent <br> successfully!</h2>
            <img class="d-flex m-auto" src="{% static 'images/svg/success.svg' %}" alt="success">
            <button class="contactButtonModal mt-5" id="doneBtn">
                Done
            </button>
        </div>
    </div>
</div>

<div id="signUp" class="sign-modal white-popup white-popup__settings mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="contactSingUpModal">
            <h2 class="contactTitle">ORDER REQUEST</h2>
            <form action="#" class="CallBackForm" id="CallBackCreateForm">
                <div class="form-item">
                    <input id="addressFrom" name="addressFrom" type="text"
                           class="form-control form-control-input required"
                           placeholder="Pickup ZIP Code">
                    <i class="icons icon-from"></i>
                </div>
                <div class="form-item">
                    <input id="addressTo" name="addressTo" type="text" class="form-control form-control-input required"
                           placeholder="Destination ZIP Code">
                    <i class="icons icon-from"></i>
                </div>
                <div class="form-item">
                    <select id="pickup" name="pickup" class="selectpicker form-control start-form__input"
                            title="Truck size">
                        {% for pickup in pickup_list %}
                            <option value="{{ pickup.id }}"
                                    data-name="{{ pickup.name }}">{{ pickup.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-item">
                    <select id="delivery" name="delivery"
                            class="selectpicker form-control start-form__input"
                            title="Delivery services" multiple>
                        {% for delivery in delivery_list %}
                            <option value="{{ delivery.id }}">{{ delivery.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button href="#signUp2" class="contactButtonModal signUp2" id="submitBtn">
                    Continue
                </button>
            </form>
        </div>
    </div>
</div>

<div id="signUp2" class="sign2-modal white-popup white-popup__step2 mfp-with-anim mfp-hide">
    <div class="popup-main">
        <form id="openStep2Form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loading_date">Requested loading date <span class="red">*</span></label>
                        <input id="loading_date" name="loading_date" type="date" class="form-control required"
                               placeholder="MM / DD / YY" lang="en" min="{% now "Y-m-d" %}">
                    </div>
                    <div class="form-group">
                        <label for="packaging">Packaging</label>
                        <select id="packaging" name="packaging" class="selectpicker start-form__select"
                                title="packaging">
                            {% for packaging in packaging_list %}
                                <option
                                        value="{{ packaging.id }}"
                                        data-length="{{ packaging.length | default_if_none:"" }}"
                                        data-width="{{ packaging.width | default_if_none:"" }}"
                                        data-height="{{ packaging.height | default_if_none:"" }}"
                                        data-weight="{{ packaging.weight | default_if_none:"" }}"
                                > {{ packaging.name }} {% if packaging.length %} ({{ packaging.length }}
                                    {% if packaging.width %}X {{ packaging.width }}{% endif %} {% if packaging.height %}
                                        X {{ packaging.height }}{% endif %}){% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Dimensions (LxWxH), weight </label>
                        <div class="weight-group">
                            <div class="dimensions-item">
                                <div class="dimensions-item__inputs">
                                    <div class="cub-row">
                                        <div class="cub-item">
                                            <input type="text" id="cubL" name="cub_l" class="cub-input" placeholder="L">
                                        </div>
                                        <div class="cub-item">
                                            <input type="text" id="cubW" name="cub_w" class="cub-input" placeholder="W">
                                        </div>
                                        <div class="cub-item">
                                            <input type="text" id="cubH" name="cub_h" class="cub-input" placeholder="H">
                                        </div>
                                    </div>
                                </div>
                                <div class="dimensions-item__label">
                                    <span>in.</span>
                                </div>
                            </div>
                            <div class="dimensions-item">
                                <div class="dimensions-item__inputs">
                                    <input type="text" id="weight" name="weight" class="cub-input" placeholder="Weight">
                                </div>
                                <div class="dimensions-item__label">
                                    <span>lbs.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-md-0">
                        <label for="">Quantity</label>
                        <div class="quantity-group">
                            <a href="#" id="decrement" class="quantity-btn">-</a>
                            <input type="number" id="quantity" class="quantity-input" value="0" min="0">
                            <a href="#" id="increment" class="quantity-btn">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <div class="form-group">
                                <label for="description">Item description</label>
                                <textarea id="description" name="description" class="form-control start-form__textarea"
                                          placeholder="Item description..."></textarea>
                            </div>
                            <div class="total-group">
                                <p>Total item weight: <strong><span id="totalWeight">0</span> pounds</strong></p>
                            </div>
                        </div>
                        <button href="#signUp3" class="contactButtonModal signUp3" id="submitBtn">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="signUp3" class="sign3-modal white-popup white-popup__step2 mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="loader">
            <div class="loader-image">
                <img src="{% static 'images/loader.gif' %}" alt="loader">
            </div>
        </div>
        <div class="popup-title">
            <h2>The last step. <br>Start to provide</h2>
        </div>
        <form id="openStep3Form">
            <div class="form-group">
                <input id="loading_name" name="loading_name" type="text" class="form-control required"
                       placeholder="What is your name?" required autocomplete="off">
            </div>
            <div class="form-group">
                <input id="loading_email" name="loading_email" type="email" class="form-control required"
                       placeholder="E-mail" required autocomplete="off">
            </div>
            <div class="form-group">
                <input id="loading_phone" name="loading_phone" type="number" class="form-control "
                       placeholder="Phone number" required autocomplete="off">
            </div>
            <button class="contactButtonModal openStepEndBtn" href="#" type="submit" id="signUpBtnFinish">Continue
            </button>
        </form>
    </div>
</div>

<div id="signUp4" class="sign4-modal white-popup white-popup__stepEnd mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="popup-title">
            <h2>Load will be cost</h2>
        </div>
        <form id="openStepEndForm">
            <div class="form-group">
                <div class="last-group">
                    <span id="totalPrice">$0</span>
                </div>
            </div>
            <button href="#" class="contactButtonModal closeBtn" data-effect="mfp-zoom-in">Ok</button>
        </form>
    </div>
</div>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>
<script src="{% static "js/burger/main.js" %}"></script>
<script src="{% static "js/popup/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static 'js/inputmask/input.mask.js' %}"></script>
<script src="{% static 'js/toastr/toastr.js' %}"></script>
<script src="{% static 'js/timer/timer.min.js' %}"></script>
<script src="{% static 'js/wow/wow.min.js' %}"></script>
<script src="{% static 'js/google/main.js' %}"></script>
<script src="{% static 'js/signup/main.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>

   $("#openStep3Form").submit(function (event) {
      event.preventDefault();

      let url = "{% url 'order:create' %}";
      const signUpBtnFinish = document.getElementById('signUpBtnFinish');
      const footerPhone = document.querySelector('.footer-phone');
      let phone = footerPhone.getAttribute('data-phone');
      signUpBtnFinish.disabled = true;
      $('#signUp3 .loader').addClass('active');

      let formData = new FormData();
      formData.append("address_from", $("#addressFrom").val());
      formData.append("address_to", $("#addressTo").val());
      formData.append("pickup", $("#pickup").val());

      for (let i = 0; i < $("#delivery option:selected").length; i++) {
         formData.append('delivery', $("#delivery option:selected")[i].value);
      }
      formData.append("loading_date", $("#loading_date").val());
      formData.append("length", $("#cubL").val());
      formData.append("width", $("#cubW").val());
      formData.append("height", $("#cubH").val());
      formData.append("weight", $("#weight").val());
      formData.append("quantity", $("#quantity").val());
      formData.append("description", $("#description").val());
      formData.append("name", $("#loading_name").val());
      formData.append("email", $("#loading_email").val());
      formData.append("phone", $("#loading_phone").val());
      formData.append("page_url", "{{request.build_absolute_uri}}");

      if ($("#pickup option:selected").val() == '' || $("#delivery option:selected").length == 0 ||
         $("#quantity").val() == 0 || $("#cubL").val() == '' || $("#cubW").val() == '' || $("#cubH").val() == '' ||
         $("#weight").val() == 0) {
         $("#totalPrice").html('<p>Not enough info to generate a quote. Our dispatchers will contact you to give you the best price on the market!</p>');
      }

      $.ajax({
         headers: {"X-CSRFToken": "{{csrf_token}}"},
         url: url,
         processData: false,
         contentType: false,
         method: 'POST',
         data: formData,
         success: function (data) {
            signUpBtnFinish.disabled = false;
            $('#signUp3 .loader').removeClass('active');
            if (data.cost) {
               $("#totalPrice").text("$" + data.cost);
            } else {
               $("#totalPrice").html(`<p>Our system was unavailable to determine the price for delivery. Please call us at <a href="tel:${phone}">${phone}</a> to get a quote</p>`);
            }

            setTimeout(function () {
               $.magnificPopup.open({
                  items: {
                     src: '#signUp4'
                  },
                  type: 'inline'
               });
            }, 1500);
         },
         error: function (data) {
            signUpBtnFinish.disabled = false;
            $('#signUp3 .loader').removeClass('active');
            $("#totalPrice").html(`<p>Our system was unavailable to determine the price for delivery. Please call us at <a href="tel:${phone}">${phone}</a> to get a quote</p>`);
            setTimeout(function () {
               $.magnificPopup.open({
                  items: {
                     src: '#signUp4'
                  },
                  type: 'inline'
               });
            }, 1500);
         }
      });
   });

   $("#CallBackCreateForm").submit(function (event) {

      event.preventDefault();
      let requestData = new FormData();
      requestData.append('name', $('#nameModal').val());
      requestData.append('phone', $('#phoneModal').val());

      const submitBtn = document.getElementById('submitBtn');
      submitBtn.disabled = true;

      let url = "{% url 'call_back:create' %}";
      $.ajax({
         headers: {"X-CSRFToken": "{{csrf_token}}"},
         url: url,
         processData: false,
         contentType: false,
         method: 'POST',
         data: requestData,
         success: function (data) {
            //Сбрасывание формы и отключение кнопки
            $('#CallBackCreateForm')[0].reset();
            submitBtn.disabled = false;

            // Изменение модального окна и включение таймера
            $('.contactLeftModal').hide();
            $('.contactLeftModalSuccess').removeAttr('hidden');
            $("#callBack").prop("hidden", !this.checked);
            $('#timer-block').removeAttr('hidden');
            $("#timer").html('0:00');

            let timer = new easytimer.Timer();
            timer.start();
            timer.addEventListener("secondsUpdated", function (e) {
               $("#timer").html(timer.getTimeValues().toString().slice(4));
            });

            // Проверка на звонок. Ответили или нет
            function checkCall() {
               let url_check = `api/v1/call_back/${data.id}/check_is_answered/`;
               $.ajax({
                  headers: {"X-CSRFToken": "{{csrf_token}}"},
                  url: url_check,
                  processData: false,
                  contentType: false,
                  method: 'GET',
                  success: function (data) {
                     if (data.is_answered) {
                        timer.stop();
                        clearInterval(interval);
                     }
                  },
                  error: function (data) {
                     console.log(data);
                  }

               });
            }

            let interval = setInterval(checkCall, 5000);

         },
         error: function (data) {
            toastr.error(
               data.responseText,
               'Error',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );
            submitBtn.disabled = false;
         }
      });
   });

   $("#EmailCreateForm").submit(function (event) {

      event.preventDefault();
      let requestData = new FormData();
      requestData.append('email', $('#email').val());

      const submitBtn = document.getElementById('submitBtn');
      submitBtn.disabled = true;


      let url = "{% url 'questions:create_email' %}";
      $.ajax({
         headers: {"X-CSRFToken": "{{csrf_token}}"},
         url: url,
         processData: false,
         contentType: false,
         method: 'POST',
         data: requestData,
         success: function (data) {
            toastr.success(
               'YOUR REQUEST HAS BEEN\n' +
               'SENT SUCCESSFULLY!',
               'Success',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );

            $('#contactForm')[0].reset();
            submitBtn.disabled = false;

         },
         error: function (data) {
            toastr.error(
               data.responseText,
               'Error',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );
            submitBtn.disabled = false;
         }


      });

   });

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsYaPwhG-tJgzcWeaZORq-0088PNOK9kk&callback=initAutocomplete&libraries=places&v=weekly"
        async></script>
</body>
</html>
