{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:image:src" content="https://redmaxllc.com/static/images/banner.png">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="REDMAX LOGISTICS">
    <meta name="twitter:title" content="For Less, and with more to offer than ever before!">
    <meta name="twitter:description" content="Whether you need to send a single pallet across the state or truckload throughout America">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://redmaxllc.com/"/>
    <meta property="og:site_name" content="REDMAX LOGISTICS"/>
    <meta property="og:title" content="For Less, and with more to offer than ever before!"/>
    <meta property="og:description" content="Whether you need to send a single pallet across the state or truckload throughout America"/>
    <meta property="og:image" content="https://redmaxllc.com/static/images/banner.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link rel="icon" href="{% static "images/logos/favicon.svg" %}">
    <link rel="stylesheet" href="{% static "plugins/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">
    <link rel="stylesheet" href="{% static "plugins/popup/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}?v=20">
    <link rel="stylesheet" href="{% static "css/response.css" %}?v=20">

    <title>REDMAX - Carriers</title>
</head>
<body>

<section class="carriers">
    <header class="header">
        <nav class="container d-flex align-items-center justify-content-between">
            <a href="{% url 'index:index' %}" class="header-logo-redmax">
                <img src="{% static "images/logos/logo.svg" %}" alt="logo">
            </a>
            <button class="menu-button">
                <img src="{% static "images/svg/burger.svg" %}" alt="menu" class="menu-button-icon">
            </button>
            <button class="menu-close">
                <img src="{% static "images/svg/close.svg" %}" alt="back" class="menu-close-icon">
            </button>
            <div class="nav-menu  p-0">
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'brokers:broker' %}" class="nav-link">Brokers</a></li>
                    <li class="nav-item"><a href="{% url 'shippers:shipper' %}" class="nav-link">Shippers</a></li>
                    <li class="nav-item"><a href="{% url 'carriers:carrier' %}"
                                            class="active-link nav-link">Carriers</a></li>
                    <li class="nav-item"><a href="{% url 'contact:contact' %}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="{% url 'sitemap:sitemap' %}" class="nav-link">Sitemap</a></li>
                </ul>
                <div class="header-social">
                    <a href="#">
                        <div class="fb mr-3"></div>
                    </a>
                    <a href="#">
                        <div class="fb mr-3"></div>
                    </a>
                </div>
                <button href="#openModal" class="nav-button openModal" id="callBack" data-effect="mfp-zoom-in">
                    Call back
                </button>
                <p class="mx-2 mb-0" id="timer-block" hidden>We`ll call you <span id="timer" class="text-danger"></span>
                </p>
            </div>
        </nav>
    </header>
    <div class="container d-flex">
        <div class="p-0 mainBlockBrokers">
            <h2 class="brokers-main-title animate__animated animate__fadeInLeft">
                Join our
                <div class="d-flex align-items-center">
                    <img src="{% static "images/logos/Redmax.svg" %}" alt="LogoFull" class="redmax"> family!
                </div>
            </h2>
            <p class="carriersDescription animate__animated animate__fadeInLeft">
                Working for a company that prioritizes honesty, loyalty and reliability will you?
                Join our Redmax family! At the forefront of industry standards in quality assurance we seek
                out individuals who share these values. We believe it's through dedication to these principles can build
                an enjoyable work environment where everyone feels like they belong; having simple things such as trust
                between co-workers lead towards better customer service while meeting deadlines on time each day
            </p>
            <a href="http://signup.redmaxllc.com/" target="_blank"
               class="btn w-100 mainButtonLearnMore animate__animated animate__fadeInLeft">
                Sign up
            </a>
        </div>
    </div>
</section>

<section id="section-why" class="advantages container">
    <div class="d-flex">
        <h2 class="advantagesTitle">Advantages</h2>
        <img src="{% static "images/logos/favicon.svg" %}" alt="arrow" class="advantages-arrow">
    </div>
    <div class="blockLineReverse">
        <img src="{% static "images/svg/lineArrow.svg" %}" alt="lineArrow" class="lineArrowReverse">
        <span class="lineReverse"></span>
    </div>
    <div class="blockLineReverseRight">
        <span class="lineReverseRight"></span>
    </div>
    <div class="advantagesContent wow  animate__animated animate__fadeInUp">
        <div class="row">
            <div class="advantages-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon11.svg" %}" alt="advantage1" class="advantages-icon">
                <div class="advantagesText">
                    <h2 class="advantages-subtitle">Customer Support</h2>
                    <p class="advantages-description">
                        We're here for you, anytime and anywhere!
                        With us it's always a quick response. We'll do our best
                        to solve any problems that might arise with ease
                        as soon as possible
                    </p>
                </div>
            </div>
            <div class="advantages-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon4.svg" %}" alt="advantage2" class="advantages-icon">
                <div class="advantagesText">
                    <h2 class="advantages-subtitle">Our Technology</h2>
                    <p class="advantages-description">
                        We use cutting edge technology to make your work easier. For newbies, get guided step-by-step
                        using our mobile app! No more having to send PODS through
                        the mail, scan and send with a single click.
                        Ask us about our app!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="advantages-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon7.svg" %}" alt="advantage3" class="advantages-icon">
                <div class="advantagesText">
                    <h2 class="advantages-subtitle">Consistent Freight</h2>
                    <p class="advantages-description">
                        123214 loads daily, ensure never having to look for freight for longer than you want. We provide
                        freight on a consistent basis, so you can create an effective network plan and efficiently
                        utilize your fleet
                    </p>
                </div>
            </div>
            <div class="advantages-item col-12 col-md-6 mb-3">
                <img src="{% static "images/svg/icon1.svg" %}" alt="advantage4" class="advantages-icon">
                <div class="advantagesText">
                    <h2 class="advantages-subtitle">Quick Setup</h2>
                    <p class="advantages-description">
                        We take the guesswork out of getting your trucks rolling by providing an easy-to use carrier set
                        up system that allows you to get ready to roll in just 15 minutes!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-app" class="app container">
    <div class="app-content">
        <div class="app-row">
            <div>
                <h2 class="app-title">Tired of looking <br>for loads?</h2>
                <p class="app-subtitle">
                    Check out Altek Drivers on App Store / Google Play!
                </p>
                <div class="app-buttons">
                    <a href="{{ contact.ios_app }}">
                        <img src="{% static "images/img/appStore.png" %}" alt="appStore">
                    </a>
                    <a href="{{ contact.android_app }}">
                        <img src="{% static "images/img/googlePlay.png" %}" alt="googlePlay">
                    </a>
                </div>
            </div>
            <img src="{% static "images/img/phone.png" %}" alt="phone"
                 class="phone wow  animate__animated animate__fadeInUp">
        </div>
    </div>
</section>

<footer class="footer">
    <div class="blockLine contactLine wow  animate__animated animate__fadeInLeft">
        <span class="line"></span>
        <img src="{% static "images/svg/lineArrow.svg" %}" alt="lineArrow" class="lineArrow">
    </div>
    <div class="footer-row container">
        <div class="first-footer">
            <img src="{% static "images/logos/logo.svg" %}" alt="logo">
            <p class="footer-license">
                Redmax Logistics, LLC,
                © All rights reserved, Last Modified {% now "Y" %}
            </p>
            <p class="powered">
                Powered by:
                <a target="_blank" href="https://altek.icu/">
                    <img class="altek" src="{% static "images/logos/altek.svg" %}" alt="ALTEK">
                </a>
            </p>
        </div>
        <div class="second-footer">
            <h2 class="footer-title">
                Newsletter
            </h2>
            <p class="footer-text">
                We care about our clients. Therefore, we frequently
                send out news and updates that will help you
            </p>
            <form action="#" class="EmailForm" id="EmailCreateForm">
                <div class="group position-relative">
                    <input type="email" id="email" required autocomplete="off">
                    <label for="email">Enter your e-mail</label>
                    <span class="sendBtn">
                    <button id="submitBtn">
                            <img src="{% static "images/svg/send.svg" %}" alt="send">
                    </button>
                </span>
                </div>
            </form>
        </div>
        <div class="third-footer">
            <div>
                <a href="tel: {{ contact.phone }}" class="footer-phone" data-phone="{{ contact.phone }}">
                    {{ contact.phone }}
                </a>
                <p class="footer-address">
                    {{ contact.address }}
                </p>
            </div>
            <div class="footer-social">
                <a href="{{ contact.facebook_link }}">
                    <div class="fb mr-3"></div>
                </a>
                <a href="{{ contact.instagram_link }}">
                    <div class="insta mr-3"></div>
                </a>
            </div>
            <p class="footer-license2">
                Redmax Logistics, LLC,
                © All rights reserved, Last Modified {% now "Y" %}
            </p>
            <p class="powered2">
                Powered by:
                <a target="_blank" href="https://altek.icu/">
                    <img class="altek" src="{% static "images/logos/altek.svg" %}" alt="ALTEK">
                </a>
            </p>
        </div>
    </div>
</footer>

<div id="openModal" class="white-popup white-popup__settings mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="contactLeftModal">
            <h2 class="contactTitle">Call back</h2>
            <p class="contactText">
                Please let us know the nature of your inquiry
                and we will get back to you shortly
            </p>
            <form action="#" class="CallBackForm" id="CallBackCreateForm">
                <div class="group">
                    <input type="text" id="nameModal" required autocomplete="off">
                    <label for="nameModal">Your name</label>
                </div>
                <div class="group">
                    <input type="text" id="phoneModal" required autocomplete="off">
                    <label for="phoneModal">Phone number</label>
                </div>
                <button class="contactButtonModal" id="submitBtn">
                    Submit
                </button>
            </form>
        </div>

        <div class="contactLeftModalSuccess" hidden>
            <h2 class="contactTitle text-center">Sent <br> successfully!</h2>
            <img class="d-flex m-auto" src="{% static 'images/svg/success.svg' %}" alt="success">
            <button class="contactButtonModal mt-5" id="doneBtn">
                Done
            </button>
        </div>
    </div>
</div>

<script src="{% static "plugins/jquery/jquery.js" %}"></script>
<script src="{% static "plugins/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "plugins/bootstrap/popper.min.js" %}"></script>
<script src="{% static "js/burger/main.js" %}"></script>
<script src="{% static "plugins/popup/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static 'plugins/inputmask/input.mask.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.js' %}"></script>
<script src="{% static 'plugins/timer/timer.min.js' %}"></script>
<script src="{% static 'plugins/wow/wow.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>

   $("#CallBackCreateForm").submit(function (event) {

      event.preventDefault();
      let requestData = new FormData();
      requestData.append('name', $('#nameModal').val());
      requestData.append('phone', $('#phoneModal').val());

      const submitBtn = document.getElementById('submitBtn');
      submitBtn.disabled = true;

      let url = "{% url 'call_back:create' %}";
      $.ajax({
         headers: {"X-CSRFToken": "{{csrf_token}}"},
         url: url,
         processData: false,
         contentType: false,
         method: 'POST',
         data: requestData,
         success: function (data) {
            //Сбрасывание формы и отключение кнопки
            $('#CallBackCreateForm')[0].reset();
            submitBtn.disabled = false;

            // Изменение модального окна и включение таймера
            $('.contactLeftModal').hide();
            $('.contactLeftModalSuccess').removeAttr('hidden');
            $("#callBack").prop("hidden", !this.checked);
            $('#timer-block').removeAttr('hidden');
            $("#timer").html('0:00');

            let timer = new easytimer.Timer();
            timer.start();
            timer.addEventListener("secondsUpdated", function (e) {
               $("#timer").html(timer.getTimeValues().toString().slice(4));
            });

            // Проверка на звонок. Ответили или нет
            function checkCall() {
               let url_check = `api/v1/call_back/${data.id}/check_is_answered/`;
               $.ajax({
                  headers: {"X-CSRFToken": "{{csrf_token}}"},
                  url: url_check,
                  processData: false,
                  contentType: false,
                  method: 'GET',
                  success: function (data) {
                     if( data.is_answered){
                         timer.stop();
                         clearInterval(interval);
                     }
                  },
                  error: function (data) {
                     console.log(data);
                  }

               });
            }

            let interval = setInterval(checkCall, 5000);

         },
         error: function (data) {
            toastr.error(
               data.responseText,
               'Error',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );
            submitBtn.disabled = false;
         }
      });
   });

   $("#EmailCreateForm").submit(function (event) {

      event.preventDefault();
      let requestData = new FormData();
      requestData.append('email', $('#email').val());

      const submitBtn = document.getElementById('submitBtn');
      submitBtn.disabled = true;


      let url = "{% url 'questions:create_email' %}";
      $.ajax({
         headers: {"X-CSRFToken": "{{csrf_token}}"},
         url: url,
         processData: false,
         contentType: false,
         method: 'POST',
         data: requestData,
         success: function (data) {
            toastr.success(
               'YOUR REQUEST HAS BEEN\n' +
               'SENT SUCCESSFULLY!',
               'Success',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );

            $('#contactForm')[0].reset();
            submitBtn.disabled = false;

         },
         error: function (data) {
            toastr.error(
               data.responseText,
               'Error',
               {
                  positionClass: "toast-top-center",
                  timeOut: 2000,
                  fadeOut: 1000,
               }
            );
            submitBtn.disabled = false;
         }


      });

   });

</script>
</body>
</html>

